<section class="ulockd-team">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <div class="ulockd-main-title">
          <h2 class="text-uppercase">OUR <span class="text-thm2">Team</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore voluptates consequuntur velit necessitatibus maiores fugiat eaque.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front" style="background: url(assets/images/team1.jpg) 0 0 no-repeat;"></div>
            <div class="back">
              <div class="back-logo"></div>
              <h3 class="name">John Smith</h3>
              <h5 class="back-title">Senior Worker</h5>
              <p>Consectetur adipisicing elit. Nisi rem nihil dolores enim consequatur, aperiam quos odit explicabo mollitia quisquam esse. Provident assumenda officiis, commodi cupiditate cumque. Laborum commodi iusto voluptates, minus odio sapiente repellat tempora, reprehenderit cum facilis natus!</p>
              <ul class="list-inline team-icon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="mailto:name@email.com"><i class="fa fa-envelope"></i> Email</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front" style="background: url(assets/images/team2.jpg) 0 0 no-repeat;"></div>
            <div class="back">
              <h3 class="name">Ana Smith</h3>
              <h5 class="back-title">Senior Worker</h5>
              <p>Consectetur adipisicing elit. Nisi rem nihil dolores enim consequatur, aperiam quos odit explicabo mollitia quisquam esse. Provident assumenda officiis, commodi cupiditate cumque. Laborum commodi iusto voluptates, minus odio sapiente repellat tempora, reprehenderit cum facilis natus!</p>
              <ul class="list-inline team-icon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="mailto:name@email.com"><i class="fa fa-envelope"></i> Email</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front" style="background: url(assets/images/team3.jpg) 0 0 no-repeat;"></div>
            <div class="back">
              <div class="back-logo"></div>
              <h3 class="name">Jhon Smith</h3>
              <h5 class="back-title">Senior Worker</h5>
              <p>Consectetur adipisicing elit. Nisi rem nihil dolores enim consequatur, aperiam quos odit explicabo mollitia quisquam esse. Provident assumenda officiis, commodi cupiditate cumque. Laborum commodi iusto voluptates, minus odio sapiente repellat tempora, reprehenderit cum facilis natus!</p>
              <ul class="list-inline team-icon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="mailto:name@email.com"><i class="fa fa-envelope"></i> Email</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ulockd-mrgn1240">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="ulockd-team-two-member">
          <div class="ulockd-tm-thumb">
            <img class="img-responsive img-whp" src="assets/images/team4.jpg" alt="7.jpg">
            <div class="ulockd-team-two-mdetails">
              <div class="ulockd-tm-name">Williams Jones</div>
              <h5 class="ulockd-tm-post">- Our Manager</h5>
              <ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
                <li>Fax: 1-888-hpaafaxme</li>
                <li>Phone: +98 9875 5968 54</li>
                <li>Mail: jones@mail.se</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="ulockd-team-two-member">
          <div class="ulockd-tm-thumb">
            <img class="img-responsive img-whp" src="assets/images/team5.jpg" alt="6.jpg">
            <div class="ulockd-team-two-mdetails">
              <div class="ulockd-tm-name">John Smith</div>
              <h5 class="ulockd-tm-post">- Our Director</h5>
              <ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
                <li>Fax: 1-888-hpeafaxme</li>
                <li>Phone: +98 9875 5968 54</li>
                <li>Mail: eHenry@mail.se</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="ulockd-team-two-member">
          <div class="ulockd-tm-thumb">
            <img class="img-responsive img-whp" src="assets/images/team6.jpg" alt="">
            <div class="ulockd-team-two-mdetails">
              <div class="ulockd-tm-name">Elizabeth Henry</div>
              <h5 class="member-post">- Our Manager</h5>
              <ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
                <li>Fax: 1-888-hpeafaxme</li>
                <li>Phone: +98 9875 5968 54</li>
                <li>Mail: eHenry@mail.se</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="ulockd-team-two-member">
          <div class="ulockd-tm-thumb">
            <img class="img-responsive img-whp" src="assets/images/team7.jpg" alt="8.jpg">
            <div class="ulockd-team-two-mdetails">
              <div class="ulockd-tm-name">Smith Johnson</div>
              <h5 class="ulockd-tm-post">-  Housing Supportive</h5>
              <ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
                <li>Fax: 1-888-hpeffaxme</li>
                <li>Phone: +98 9875 5968 54</li>
                <li>Mail: sjhson@mail.se</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>