<!-- Our Partner -->
<section class="ulockd-partner">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-partner-thumb text-center"><img src="assets/images/partner1.png" alt="partner1.png"></div></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-partner-thumb text-center"><img src="assets/images/partner2.png" alt="partner2.png"></div></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-partner-thumb text-center"><img src="assets/images/partner3.png" alt="partner3.png"></div></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-partner-thumb text-center"><img src="assets/images/partner4.png" alt="partner4.png"></div></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-partner-thumb text-center"><img src="assets/images/partner5.png" alt="partner5.png"></div></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-partner-thumb text-center"><img src="assets/images/partner6.png" alt="partner6.png"></div></div>
    </div>
  </div>
</section>