<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a routerLink="projects">Projects</a></li>
                <li><a routerLink="team">Team</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="contacts">Contacts</a></li>
                <li><a routerLink="specializations">Specializations</a></li>
            </ul>
        </div>
        <div class="col-sm-9  col-md-10 ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>