<!-- Our About -->
<section class="ulockd-about2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="ulock-about">
          <h2 class="title-bottom ulockd-mrgn630">About <span class="text-thm2"> bMax</span></h2>
          <p>bMax Is a Multipurpose Bootstrap Template. Now bMax  Is a Biggest organizations In This Globe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repudiandae sunt delectus praesentium adipisci voluptatem sed, consectetur! Optio quis alias necessitatibus quidem dolore est nobis iusto, doloremque, velit vel, eligendi excepturi iure quas dignissimos eius.</p>
          <p>Consectetur adipisicing elit. Assumenda in, animi facere illum culpa autem minima nostrum doloribus dignissimos!</p>
          <h4>adipisicing elit. Quis ipsa ullam </h4>
          <p>bMax multipurpose html template can change your online life. You can make excellent site with usine bMax. There Consectetur adipisicing elit. Nemo repudiandae sunt delectus praesentium adipisci voluptatem sed, consectetur! Optio quis alias necessitatibus quidem.</p>
          <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="ulockd-about-box ulockd-mrgn1260">
          <div class="ab-thumb">
            <img class="img-responsive img-whp" src="assets/images/5.jpg" alt="5.jpg">
          </div>
          <p class="text-center ulockd-mrgn1210">bMax multipurpose html template can change your online life. You can make excellent site with usine bMax.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Divider -->
<section class="ulockd-divider ulockd-bgthm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="color-white">bMax Multipurpose Bootstrap Template.</h1>
        <p class="color-white">Sed ut Perspiciatis Unde Omnis Iste Sed ut sit voluptatem accusan tium </p>
      </div>
      <div class="col-md-4 text-center tal-smd">
        <button type="submit" class="btn btn-lg ulockd-btn-white ulockd-mrgn1225">PURCHASE</button>
      </div>
    </div>
  </div>
</section>

<!-- Our Service -->
<section class="ulockd-service ulockd-bb-solid-thm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="ulockd-main-title">
          <h2>About <span class="text-thm2">bMax</span> Service</h2>
          <div class="mt-separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
        <div class="icon_box text-right tac-smd">
          <div class="icon pull-right fn-smd"><i class="fa fa-desktop text-thm2"></i></div>
          <div class="ib_details left">
            <h4>100% Responsive Design</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-right tac-smd">
          <div class="icon pull-right fn-smd"><i class="fa fa-bold text-thm2"></i></div>
          <div class="ib_details left">
            <h4>Bootstrap Based</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-right tac-smd">
          <div class="icon pull-right fn-smd"><i class="fa fa-leaf text-thm2"></i></div>
          <div class="ib_details left">
            <h4>Clean & powerful code</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-right tac-smd dn-smd">
          <div class="icon pull-right fn-smd"><i class="fa fa-cog text-thm2"></i></div>
          <div class="ib_details left">
            <h4>Unlimited layouts</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-right tac-smd dn-smd dn-md">
          <div class="icon pull-right fn-smd"><i class="fa fa-paint-brush text-thm2"></i></div>
          <div class="ib_details left">
            <h4>Unlimited Colors</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 dn-xsd text-center">
        <img src="assets/images/1.png" alt="1.png">
      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
        <div class="icon_box text-left tac-smd">
          <div class="icon pull-left fn-smd"><i class="fa fa-html5 text-thm2"></i></div>
          <div class="ib_details">
            <h4>HTML5/CSS3</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-left tac-smd">
          <div class="icon pull-left fn-smd"><i class="fa fa-rocket text-thm2"></i></div>
          <div class="ib_details">
            <h4>Font Awesome Icons</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-left tac-smd">
          <div class="icon pull-left fn-smd"><i class="fa fa-file-o text-thm2"></i></div>
          <div class="ib_details">
            <h4>Well Documented</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-left tac-smd dn-smd">
          <div class="icon pull-left fn-smd"><i class="fa fa-gift text-thm2"></i></div>
          <div class="ib_details">
            <h4>Lot's of Goodies</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
        <div class="icon_box text-left tac-smd dn-smd dn-md">
          <div class="icon pull-left fn-smd"><i class="fa fa-code text-thm2"></i></div>
          <div class="ib_details">
            <h4>W3C Validated</h4>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Divider -->
<section class="ulockd-divider ulockd-bgthm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="color-white">Are You Like My Creative Works?.</h1>
        <p class="color-white">Then you can hire me as your choosen Designer / Developer. </p>
      </div>
      <div class="col-md-4 text-center tal-smd">
        <button type="submit" class="btn btn-lg ulockd-btn-white ulockd-mrgn1225">Start Project</button>
      </div>
    </div>
  </div>
</section>

<!-- Our Testimonials -->
<section class="ulockd-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="ulockd-main-title">
          <h2>About <span class="text-thm2">bMax</span> Testimonials</h2>
          <div class="mt-separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
        <div class="ulockd-testimonials text-center">
          <div class="testi-details">
            <h4><i class="fa fa-quote-left text-thm2"></i></h4>
            <p>Consectetur adipisicing elit. Maiores a molestias, exercitationem at? Neque eaque modi minus consequuntur sapiente quasi amet? Animi.</p>
          </div>
          <div class="testi-thumb">
            <img class="img-responsive img-circle" src="assets/images/1.jpg" alt="1.jpg">
            <h4>Daniel Forg</h4>
            <p><em>-Designer</em></p>
          </div>
        </div>
      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
        <div class="ulockd-testimonials text-center">
          <div class="testi-details">
            <h4><i class="fa fa-quote-left text-thm2"></i></h4>
            <p>Consectetur adipisicing elit. Maiores a molestias, exercitationem at? Neque eaque modi minus consequuntur sapiente quasi amet? Animi.</p>
          </div>
          <div class="testi-thumb">
            <img class="img-responsive img-circle" src="assets/images/2.jpg" alt="2.jpg">
            <h4>Daniel Forg</h4>
            <p><em>-Developer</em></p>
          </div>
        </div>
      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
        <div class="ulockd-testimonials text-center">
          <div class="testi-details">
            <h4><i class="fa fa-quote-left text-thm2"></i></h4>
            <p>Consectetur adipisicing elit. Maiores a molestias, exercitationem at? Neque eaque modi minus consequuntur sapiente quasi amet? Animi.</p>
          </div>
          <div class="testi-thumb">
            <img class="img-responsive img-circle" src="assets/images/3.jpg" alt="3.jpg">
            <h4>Daniel Forg</h4>
            <p><em>-Designer & Developer</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our First Divider -->
<section class="ulockd-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="ulockd-main-title">
          <h2>About <span class="text-thm2">bMax</span> Skill</h2>
          <div class="mt-separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="row">
          <div class="col-xs-6 col-sm-6 text-center">
            <div class="ulockd-ffact-one">
              <span class="flaticon-people-12 text-thm2"></span>
              <p>bMax User</p>
              <div class="timer">55860</div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 text-center">
            <div class="ulockd-ffact-one">
              <span class="flaticon-medal text-thm2"></span>
              <p>24/7 Support</p>
              <div class="timer">21052</div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 text-center">
            <div class="ulockd-ffact-one">
              <span class="flaticon-interface text-thm2"></span>
              <p>Successful Projects</p>
              <div class="timer">22780</div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 text-center">
            <div class="ulockd-ffact-one">
              <span class="flaticon-business-7 text-thm2"></span>
              <p>Total Purchase</p>
              <div class="timer">12000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <!--Progress Levels-->
        <div class="progress-levels">
          <div class="progress-box wow" data-wow-delay="100ms" data-wow-duration="1500ms">
            <h5 class="box-title">PHOTOSHOP</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="75"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="200ms" data-wow-duration="1500ms">
            <h5 class="box-title">HTML/CSS/LESS</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="90"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="300ms" data-wow-duration="1500ms">
            <h5 class="box-title">JAVASCRTIPT</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="85"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="400ms" data-wow-duration="1500ms">
            <h5 class="box-title">WEBDESIGN</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="95"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="400ms" data-wow-duration="1500ms">
            <h5 class="box-title">PHP</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="80"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="400ms" data-wow-duration="1500ms">
            <h5 class="box-title">LARAVEL</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="70"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>