<!-- Our Team -->
<section class="ulockd-team-two">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <div class="ulockd-main-title">
          <h2 class="text-uppercase"><span class="text-thm2">WHO WE ARE</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore voluptates consequuntur velit necessitatibus maiores fugiat eaque.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img src="assets/images/about2.jpg" alt="about2.jpg">
        <h3>Our Mision</h3>
        <p>Consectetur adipisicing elit. Aliquam totam cupiditate iste doloribus, unde minima vero quidem. Porro, laborum obcaecati architecto ex nostrum doloremque magni. Culpa sunt, incidunt eos atque officia harum impedit asperiores tempora, quam amet quaerat.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img src="assets/images/about3.jpg" alt="about3.jpg">
        <h3>Our Vision</h3>
        <p>Consectetur adipisicing elit. Vero laboriosam aperiam quasi nihil, obcaecati ducimus accusantium corporis deserunt neque, adipisci consequatur repellat natus, veritatis, sed! Ipsam repellendus molestiae quaerat quia officiis neque. Necessitatibus facilis ex suscipit commodi reprehenderit.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img src="assets/images/about2.jpg" alt="about2.jpg">
        <h3>Our Mision</h3>
        <p>Consectetur adipisicing elit. Aliquam totam cupiditate iste doloribus, unde minima vero quidem. Porro, laborum obcaecati architecto ex nostrum doloremque magni. Culpa sunt, incidunt eos atque officia harum impedit asperiores tempora, quam amet quaerat.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img src="assets/images/about3.jpg" alt="about3.jpg">
        <h3>Our Vision</h3>
        <p>Consectetur adipisicing elit. Vero laboriosam aperiam quasi nihil, obcaecati ducimus accusantium corporis deserunt neque, adipisci consequatur repellat natus, veritatis, sed! Ipsam repellendus molestiae quaerat quia officiis neque. Necessitatibus facilis ex suscipit commodi reprehenderit.</p>
      </div>
    </div>
  </div>
</section>