<!-- Our Team -->
<section class="ulockd-team-two">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <div class="ulockd-main-title">
          <h2 class="text-uppercase"><span class="text-thm2">WHO WE ARE</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore voluptates consequuntur velit necessitatibus maiores fugiat eaque.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let project of storageService.projects" class="col-xs-12 col-sm-6 col-md-6">
        <img src={{project.images[0]}} alt="about2.jpg">
        <h3>{{project.name}}</h3>
        <p>{{project.description}}</p>
      </div>
    </div>
  </div>
</section>