<!--About-->
<div class="form-group text-center border">
    <h2 class="sub-header">About</h2>

    Single
    <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->

    <div class="form-group">
        <label for="single">single</label>
        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />


        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <h2>Vitali</h2>
    <div *ngFor="let about of storageService.aboutClone">
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basic_information" data-toggle="tab">Basic information</a></li>
                <li><a href="#images" data-toggle="tab">Images</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active padding-top" id="basic_information">
                    <!--Basic information-->
                    <div class="input-group form-group">
                        <label for="title" class="input-group-addon">Title</label>
                        <input name="title" id="title" type="text"
                               class="form-control"
                               placeholder="Title" [(ngModel)]="about.title">
                    </div>
                    <div class="form-group">
                        <label for="description" class="description-label text-center">Description about</label>
                        <textarea name="description" id="description" class="form-control" rows="3"
                                  placeholder="Description about" [(ngModel)]="about.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="text" class="text-label text-center">Text about</label>
                        <textarea name="text" id="text" class="form-control" rows="8"
                                  placeholder="Text about" [(ngModel)]="about.text"></textarea>
                    </div>
                    <!--End basic information-->
                </div>
                <div class="tab-pane fade padding-top" id="images">
                    <!--Images about-->
                    <div class="form-group border">
                        <label class="form-control text-center">Images about</label>
                        <div class="row">
                            <div *ngFor="let img of about.images; let i = index" class="col-xs-6 col-sm-4 col-md-3">
                                <div class="thumbnail">
                                    <img [src]="img.src" alt="{{img.name}}" title="{{img.name}}">
                                    <div class="caption text-center">
                                        <button class="btn btn-success">Edit</button>
                                        <button class="btn btn-success" (click)="delImg(about, i)"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="thumbnail">
                                    <label for="image">
                                        <img class="btn" src="assets/images/projects/plus.jpg" alt="Add image"
                                             title="Add an image">
                                    </label>
                                    <!--<input id="image" type="file">-->
                                    <input id="image" type="file" (change)="addImage($event, about)">
                                    <!--<input id="image" type="file" (change)="addImage(files[0])">-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End images about-->
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" (click)="cancelChanges()">Cancel changes</button>
        <button class="btn btn-success" (click)="saveChanges()">Save changes</button>
    </div>
</div>

<!--End about-->
