<!--Projects-->
<div class="row form-group">
    <div class="col-xs-12 col-sm-8">
        <h2 class="sub-header">Projects</h2>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button class="btn btn-success form-control" (click)="addProject()" data-toggle="modal"
                data-target="#project">
            Add project
        </button>
    </div>
</div>
<div class="table-responsive" *ngIf="storageService.projects.length">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Description</th>
            <th>Editing</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of storageService.projects; let i = index">
            <td>{{i+1}}</td>
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" title="Editing" data-toggle="modal"
                                data-target="#project"
                                (click)="editingProject(project)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-secondary text-danger" title="Delite"
                                (click)="delProject(project)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--End projects-->

<!--Start modal window projects-->
<div class="modal fade" id="project" tabindex="-1" role="dialog">
    <div *ngIf="activeProject" class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="exampleModalLabel">Editing {{activeProject.name}}</h4>
            </div>
            <div class="modal-body">
                <!--Name project-->
                <div class="form-group">
                    <div class="input-group">
                        <label for="name" class="input-group-addon">Name project</label>
                        <input name="name" id="name" type="text" class="form-control"
                               placeholder="Name project" [(ngModel)]="activeProject.name">
                    </div>
                </div>
                <!--End name project-->
                <!--Description project-->
                <div class="form-group">
                    <label for="description" class="description-label text-center">Description project</label>
                    <textarea name="description" id="description" class="form-control" rows="3"
                              placeholder="Description project" [(ngModel)]="activeProject.description"></textarea>
                </div>
                <!--End description project-->
                <!--Text project-->
                <div class="form-group">
                    <label for="text" class="text-label text-center">Text project</label>
                    <textarea name="text" id="text" class="form-control" rows="5"
                              placeholder="Text project" [(ngModel)]="activeProject.text"></textarea>
                </div>
                <!--End text project-->
                <!--Images projects-->
                <div class="form-group border">
                    <label class="form-control text-center">Images projects</label>
                    <div class="row">
                        <div *ngFor="let img of activeProject.images" class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img [src]="img" alt="{{img}}" title="{{img}}">
                                <div class="caption text-center">
                                    <button class="btn btn-success">Edit</button>
                                    <button class="btn btn-success">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img class="btn" src="assets/images/projects/plus.jpg" alt="Add image"
                                     title="Add an image">
                            </div>
                        </div>
                    </div>
                </div>
                <!--End images projects-->
                <!--Employees working on the project-->
                <div class="form-group border">
                    <div class="container-fluid">
                        <div class="row">
                            <label class="form-control text-center height-auto">Employees working on the project</label>
                        </div>
                        <div *ngFor="let employee of projectMembers" class="row form-group border">
                            <div class="col-xs-12 col-sm-4 form-group text-center">
                                <img [src]="employee.image" alt="{{employee.image}}">
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="form-group hidden-md hidden-lg">
                                    <label for="description_for_employee_xs_sm" class="description-label text-center">{{employee.firstName}} {{employee.lastName}} worked for the project:</label>
                                    <textarea name="description_for_employee_xs_sm" id="description_for_employee_xs_sm" class="form-control" rows="3"
                                              placeholder="Description project" [(ngModel)]="employee.description_for_project"></textarea>
                                </div>
                                <div class="form-group hidden-xs hidden-sm">
                                    <label for="description_for_employee_md_lg" class="description-label text-center">{{employee.firstName}} {{employee.lastName}} worked for the project:</label>
                                    <textarea name="description_for_employee_md_lg" id="description_for_employee_md_lg" class="form-control" rows="8"
                                              placeholder="Description project" [(ngModel)]="employee.description_for_project"></textarea>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success btn-sm" title="Removing an employee from the project" (click)="delEmployee(employee)">Remove an employee</button>
                                </div>
                            </div>

                        </div>
                        <div class="row border">
                            <div id="employees" class="panel-group">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title text-center">
                                            <a href="#employee-1" data-parent="#employees" data-toggle="collapse">Add Employee</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="employee-1">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div *ngFor="let employee of employees"
                                                     class="col-xs-6 col-sm-4 col-md-3 form-group text-center">
                                                    <a href="#employee-1" data-parent="#employees" data-toggle="collapse">
                                                        <img [src]="employee.image" alt="{{employee.firstName}} {{employee.lastName}}"
                                                             title="{{employee.firstName}} {{employee.lastName}}" (click)="addEmployeeProject(employee)">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End employees working on the project-->
                <!--Technologies used in the project-->
                <div class="container-fluid form-group border">
                    <label class="form-control text-center height-auto">Technologies used in the project</label>
                    <div class="form-group border">
                        <label class="form-control text-center">Technologies projects</label>
                        <div class="row">
                            <div *ngFor="let specialization of storageService.specializations" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="thumbnail text-center">
                                    <img [src]="specialization.ico" alt="{{specialization.name}}" title="{{specialization.name}}">
                                    <div class="caption text-center">
                                        <button class="btn btn-success" title="Edit"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-success" title="Delite"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="technologies" class="panel-group">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-center">
                                        <a href="#technology-1" data-parent="#technologies" data-toggle="collapse">Add technology</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="technology-1">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div *ngFor="let specialization of storageService.specializations"
                                                 class="col-xs-6 col-sm-4 col-md-3 form-group text-center">
                                                <a href="#technology-1" data-parent="#technologies" data-toggle="collapse">
                                                    <img [src]="specialization.ico" alt="{{specialization.name}}"
                                                         title="{{specialization.name}}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End technologies used in the project-->
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-default ulockd-btn-thm2 center-block" (click)="saveChanges()">Save changes
                </button>
            </div>
        </div>
    </div>
</div>
<!--End modal window projects-->
