<section class="ulockd-team-one">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <div class="ulockd-main-title">
          <div class="ulockd-title-icon"><span class="flaticon-steering-wheel-1"></span></div>
          <h2 class="text-uppercase">Our Team Details</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore voluptates consequuntur velit necessitatibus maiores fugiat eaque.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="ulockd-team-member">
          <div class="team-thumb">
            <img class="img-responsive img-whp" src="{{activeEmployee.image}}" alt="{{activeEmployee.image}}">
            <div class="team-overlay">
              <ul class="list-inline team-icon style2">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="mailto:name@email.com"><i class="fa fa-envelope"></i> Email</a></li>
              </ul>
            </div>
          </div>
          <div class="team-details text-left">
            <h3 class="member-name">{{activeEmployee.firstName}} {{activeEmployee.lastName}}</h3>
            <h5 class="member-post">{{activeEmployee.position}}</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="thumbnail">
          <div class="caption">
            <ul class="list-unstyled ulockd-pesonar-info">
              <li><strong>Name :</strong> {{activeEmployee.firstName}} {{activeEmployee.lastName}}</li>
              <li><strong>Profession :</strong> Tempora impedit pariatur sapiente sit distinctio.</li>
              <li><strong>Graduation :</strong> PhD in Medical Science University of Surrey 1998.</li>
              <li><strong>Experience :</strong> 18 Year Working experience in bMax  Non-Profit Organization.</li>
              <li><strong>Address :</strong> Victoria 8007 Australia Envato HQ 121 King Street, Melbourne.</li>
              <li><strong>Phone :</strong> +61 3 8376 6284.</li>
              <li><strong>Mail :</strong> henryJones@hotmail.com .</li>
              <li><strong>Fax :</strong> 865461245.</li>
            </ul>
            <p>This is Our Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste commodi animi, totam earum harum quibusdam dolor dolore magnam! Temporibus laborum quas sint. Beatae eos odit doloremque repellendus sequi libero vero, eius excepturi, est deleniti dignissimos totam earum iste rerum atque ut voluptatem soluta officiis, necessitatibus. Sapiente doloribus, suscipit inventore sit.</p>
            <p>This is Our Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste commodi animi, totam earum harum quibusdam dolor dolore magnam! Temporibus laborum quas sint. Beatae eos odit doloremque repellendus sequi libero vero, eius excepturi, est deleniti dignissimos totam earum iste rerum atque ut voluptatem soluta officiis, necessitatibus. Sapiente doloribus, suscipit inventore sit.</p>
            <p>This is Our Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste commodi animi, totam earum harum quibusdam dolor dolore magnam! Temporibus laborum quas sint.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row ulockd_bgc_f7 ulockd-bttc">
      <div class="col-lg-6">
        <h2 class="title-inner after-line">Skill</h2>
        <!--Progress Levels-->
        <div class="progress-levels">
          <div class="progress-box wow" data-wow-delay="100ms" data-wow-duration="1500ms">
            <h5 class="box-title">PHOTOSHOP</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="80"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="200ms" data-wow-duration="1500ms">
            <h5 class="box-title">INDESIGN</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="90"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="300ms" data-wow-duration="1500ms">
            <h5 class="box-title">ILLUSTRATOR</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="90"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="400ms" data-wow-duration="1500ms">
            <h5 class="box-title">WEBDESIGN</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="90"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="400ms" data-wow-duration="1500ms">
            <h5 class="box-title">UX|UI</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="78"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="400ms" data-wow-duration="1500ms">
            <h5 class="box-title">PHP</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="88"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
          <div class="progress-box wow" data-wow-delay="400ms" data-wow-duration="1500ms">
            <h5 class="box-title">LARAVEL</h5>
            <div class="inner">
              <div class="bar">
                <div class="bar-innner"><div class="bar-fill ulockd-bgthm" data-percent="85"><div class="percent"></div></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="title-inner after-line">Experiance</h2>
        <h4>Web Development</h4>
        <h6>Unlockd Corporation ( 2006-2009 )</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quibusdam excepturi odit veritatis aliquid sed nulla atque tempore totam voluptate placeat harum, repellendus ipsa natus quaerat nam corrupti, autem maxime ratione officiis aspernatur ex aut.</p>
        <br>
        <h4>Graphic Designer</h4>
        <h6>Unlockd Media ( 2009-2014 )</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quibusdam excepturi odit veritatis aliquid sed nulla atque tempore totam voluptate placeat harum, repellendus ipsa natus quaerat nam corrupti, autem maxime ratione officiis aspernatur ex aut.</p>
        <br>
        <h4>Art Designer</h4>
        <h6>Unlockd Agency ( 2014-Still )</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quibusdam excepturi odit veritatis aliquid sed nulla atque tempore totam voluptate placeat harum, repellendus ipsa natus quaerat nam corrupti, autem maxime ratione officiis aspernatur ex aut.</p>
      </div>
    </div>
    <div class="row ulockd_bgc_f7 ulockd-bttc">
      <div class="col-lg-7 text-center ulockd-mrgn1215">
        <!-- Appointment Form Starts -->
        <form id="appointment_form" name="appointment_form" class="appointment_form text-center" action="includes/appointment.php" method="post" novalidate="novalidate">
          <div class="messages"></div>
          <div class="row">
            <div class="col-md-12">
              <h2>Appointment with Expert</h2>
              <p>Let's Appointment With our Exparts Who Try to Solved Your Problem.</p>
              <div class="form-group text-left">
                <label for="form_name"><i class="fa fa-user-o"></i> Name <small>*</small></label>
                <input id="form_name" name="form_name" class="form-control" placeholder="enter a name" required="required" data-error="Name is required." type="text">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-left">
                <label for="form_email"><i class="fa fa-envelope-open-o"></i> Email <small>*</small></label>
                <input id="form_email" name="form_email" class="form-control required email" placeholder="enter an email" required="required" data-error="Email is required." type="email">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group text-left">
                <label for="form_date"><i class="fa fa-calendar-check-o"></i> Date <small>*</small></label>
                <input id="form_date" name="form_date" class="form-control required datepicker" placeholder="enter a date" required="required" data-error="Subject is required." type="text">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group text-left">
                <label for="form_phone"><i class="fa fa-phone"></i> Phone <small>*</small></label>
                <input id="form_phone" name="form_phone" class="form-control required" placeholder="enter a phone" required="required" data-error="Phone Number is required." type="text">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group text-left">
            <label for="form_name"><i class="fa fa-file-text-o"></i> Message</label>
            <textarea id="form_message" name="form_message" class="form-control required" rows="5" placeholder="type in a message" required="required" data-error="Message is required."></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group text-center">
            <input id="form_botcheck" name="form_botcheck" class="form-control" value="" type="hidden">
            <button type="submit" class="btn btn-lg ulockd-btn-thm2" data-loading-text="Getting Few Sec...">Send</button>
          </div>
        </form>
      </div>
      <div class="col-lg-5 ulockd-mrgn1215">
        <div class="ulockd-apmnmnt-schedule">
          <table class="table ulockd-one">
            <caption><h3>Appointment Schedule One.</h3></caption>
            <thead>
            <tr>
              <th>Day</th>
              <th class="ulockd-hour">Hour</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Mon-Tues</th>
              <td>9.00 - 22.00</td>
            </tr>
            <tr>
              <th scope="row">Wednesday</th>
              <td>9.00 - 20.00</td>
            </tr>
            <tr>
              <th scope="row">Thursday</th>
              <td>9.00 - 21.00</td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td>9.00 - 19.00</td>
            </tr>
            <tr>
              <th scope="row">Saturday</th>
              <td>9.00 - 18.00</td>
            </tr>
            </tbody>
          </table>
          <a class="btn btn-default btn-lg ulockd-btn-thm2 text-center" href="#">Make an Appointment</a>
          <table class="table ulockd-two">
            <caption><h3>Appointment Schedule Two.</h3></caption>
            <thead>
            <tr>
              <th>Day</th>
              <th class="text-center">Hour</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Mon-Thu</th>
              <td>9.00 - 22.00</td>
            </tr>
            <tr>
              <th scope="row">Fri-Sat</th>
              <td>9.00 - 19.00</td>
            </tr>
            <tr>
              <th scope="row">Sunday</th>
              <td>9.00 - 15.00</td>
            </tr>
            </tbody>
          </table>
          <a class="btn btn-default btn-lg ulockd-btn-thm2 text-center" href="#">Make an Appointment</a>
        </div>
      </div>
    </div>
  </div>
</section>